<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hirtenstrasse.michael.lnkshortener">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayShortenedUrlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/activity_display_url"
            android:parentActivityName=".DisplayShortenedUrlActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayShortenedUrlActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/activity_settings"
            android:parentActivityName=".DisplayShortenedUrlActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayShortenedUrlActivity" />
        </activity>
        <activity
            android:name=".SetupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Setup">
            <intent-filter>
                <action android:name="de.hirtenstrasse.michael.lnkshortener.SetupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScreenshotTestActivity"
            android:label="@string/title_activity_screenshot_test"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hirtenstrasse.michael.lnkshortener.MainActivity" />
        </activity>
    </application>

</manifest>